[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
html-generator = {editable = true,path = "."}
jinja2 = "*"
watchdog = "*"

[requires]
python_version = "3.6"
